.maindiv {
    border: 2px solid black;
    width: 400px;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 80px; 
    background-color: white;

}


.k{
    position: absolute;
    left: 490px;
    top: 110px;
    
}
.ko {
    position: absolute;
    left: 490px;
    top: 150px;
    

}

#p {
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 565px;
    padding-top: 5px;
    background-image: url('https://www.facebook.com/images/fb_icon_325x325.png');
    position: left;
    padding-left:30px ;
    background-size: 20px;
    background-repeat: no-repeat;   

}

.u {
    text-align: center;

}

#po {
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 565px;
    padding-top: 5px;
}

#po {
    background-image: url('https://cdn-icons-png.flaticon.com/512/124/124021.png');
    position: left;
    padding-left:30px ;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: lightseagreen;
    color: white;
}
body {
    background-color: aqua;
}

